name: Deploy to GitHub Pages
# Разрешить только один текущий деплой, прерывая предыдущие, если они еще запущены
concurrency:
  group: "pages"
  cancel-in-progress: true
on:
  push:
    branches: [main] # Убедись, что твоя ветка называется именно main!
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install & Build
        run: |
          npm install
          npm run build
      - name: Upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist' # Робот берет готовую папку, которую сделал Vite
      - name: Deploy
        uses: actions/deploy-pages@v4
